.payment {
  background: white;
}

.payment-container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment-container > h1 a {
  text-decoration: none;
}

.payment-section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment-title {
  flex: 0.2;
}

.payment-adress,
.payment-items,
.payment-details {
  flex: 0.8;
}

.payment-details > form {
  max-width: 400px;
}

.payment-details > h3 {
  padding-bottom: 20px;
}

.payment-details > form > div > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  color: #111;
  cursor: pointer;
}

.payment-details > form > div > button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
/* .payment-priceContainer{

} */
