.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 80px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal-gift {
  display: flex;
  align-items: center;
}

.subtotal > div > button {
  background: #f0c14b;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: #111;
  border-radius: 5px;
  cursor: pointer;
}

.subtotal > div > button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.subtotal-gift-btn {
  background: #67b1db;
  border: 1px solid;
  border-color: #3cadda;
  color: #111;
  cursor: pointer;
}

.subtotal-gift-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
